private.json
*.json

# database
*.db

# static pages
static

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Editor files
*.swp
*.swo
*~
.idea/

# ignore / trash folder / ideas I might come back to
ignore
