# data
data
private.json
*.json

# database
*.db

# static pages
src/forro_festivals/static/*
!src/forro_festivals/static/favicon.ico
!src/forro_festivals/static/styles.css

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Editor files
*.swp
*.swo
*~
.idea/

# ignore / trash folder / ideas I might come back to
ignore
