{% extends "base.html" %}

{% block content %}
    <h1>About</h1>

    <p>Hey Forrozeir@s! 🎉</p>

    <p>I put together this list of upcoming forró festivals, and I hope you find it helpful too! 😊</p>

    <p>Big thanks to the awesome folks at the <a href="https://www.forro-app.com">Forró Events App</a> for letting me use their data.
        If you want your festival to show up here, just add it to the app!
        This list syncs with the app's data once a day, so it'll stay updated.
    </p>

    <p>If you are an organizer, I recommend directly using the Forró app, but you can also head over to <a href="/add-festival">Add Festival</a>
        if you'd like to add a festival directly to this list.
    </p>
{% endblock %}
