<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forró Festivals</title>

    <!-- For WhatsApp -->
    <meta property="og:title" content="Forró Festivals">
    <meta property="og:description" content="List of Festivals in the best dance of the world.">
    <meta property="og:url" content="https://www.forro-festivals.com">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Forró Festivals">

    <link rel="stylesheet" href="/static/styles.css">
    {% block head %}{% endblock %}
</head>

<body>
    <!-- Main content section will be inserted here -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- General Favicon for most browsers low-res -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}" sizes="16x16">

    <!-- General Favicon for most browsers -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}" sizes="32x32">

    <!-- General Favicon for most browsers high-res -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-192x192.png') }}" sizes="192x192">

    <!-- Android home screen icon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/android-chrome-192x192.png') }}" sizes="192x192">

    <!-- Android home screen icon high resolution-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/android-chrome-512x512.png') }}" sizes="512x512">

    <!-- iOS home screen icon (Apple Touch Icon) -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}" sizes="180x180">

    <!-- Link to the web manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">



    <!-- Navigation bar -->
    <hr>
    <nav>
        <a href="/">Festivals</a> |
        <a href="/about">About</a> |
        <a href="/add-festival">Add Festival</a> |
        <a href="/update-next-lot">Add Ticket Sell Date</a> |
        <a href="/legal-notice">Legal Notice</a>
        {% if current_user and current_user.is_authenticated %}
            | <a href="/dashboard">Dashboard</a>
        {% endif %}
        {% if env == 'dev' and current_user and not current_user.is_authenticated %}
            | <a href="/login">Login</a>
        {% endif %}
    </nav>

</body>
</html>
