<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forró Festivals</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <!-- Main content section will be inserted here -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>


    <!-- Navigation bar -->
    <hr>
    <nav>
        <a href="/">Festivals</a> |
        <a href="/about">About</a> |
        <a href="/add-festival">Add Festival</a> |
        <a href="/impressum">Impressum</a>
    </nav>

</body>
</html>
